In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFrame = pd.read_excel("27-SalarySheet.xlsx")

In [3]:
dataFrame

       Employee Name            Department       Title  Salary
0       Semaj Bowers             Marketing         Mid     600
1        Gary Foster                 Sales         Mid     650
2   Saniya Maldonado                    HR         Mid     600
3     Jillian Zuniga                    HR     C-level    1000
4      Courtney Mora                 Sales         Mid     550
..               ...                   ...         ...     ...
95          Jake Gay                 Sales      Junior     443
96      Macy Webster               Finance     C-level    1250
97     Jaquan Meyers             Marketing  Mid-Senior     800
98       Willow Bush  Software Development      Junior     441
99   Emmanuel Prince                 Sales         Mid     612

[100 rows x 4 columns]

In [4]:
#1) Toplamda kaç satır veri vardır?

In [5]:
# cevap 100

In [6]:
#2) Bu firma ortalama ne kadar maaş vermektedir?

In [7]:
dataFrame["Salary"].mean()

725.84

In [8]:
# cevap 725.84

In [9]:
#3) Bu firmada departmanlara göre ortalama maaş karşılaştırması nasıldır?

In [74]:
dataFrame.groupby("Department").Salary.mean()

Department
Finance                 805.411765
HR                      640.937500
Marketing               707.000000
Sales                   656.666667
Software Development    826.409091
Name: Salary, dtype: float64

In [11]:
dataFrame.groupby("Department")["Salary"].mean()

Department
Finance                 805.411765
HR                      640.937500
Marketing               707.000000
Sales                   656.666667
Software Development    826.409091
Name: Salary, dtype: float64

In [12]:
# cevap

In [13]:
#4) Bu firmada title (senior - junior) durumuna göre ortalama maaş karşılaştırması nasıldır?

In [14]:
dataFrame.groupby("Title").Salary.mean()

Title
C-level       1058.333333
Junior         440.625000
Mid            641.450000
Mid-Senior     725.500000
Senior         867.777778
Name: Salary, dtype: float64

In [15]:
# cevap

In [16]:
#5) Senior bir kişinin junior bir kişiye göre maaşı ortalama yüzde kaç fazladır?

In [17]:
dataFrame.groupby("Title").Salary.mean()["Senior"] / dataFrame.groupby("Title").Salary.mean()["Junior"] * 100 - 100

96.94247438928292

In [18]:
# cevap

In [19]:
#6) Software development departmanında senior bir kişinin junior bir kişiye göre maaşı ortalama ne kadar fazladır?***

In [44]:
dataFrame[dataFrame["Department"] == "Software Development"]

         Employee Name            Department       Title  Salary
6        Caitlin Terry  Software Development      Senior     900
9      Travis Morrison  Software Development     C-level     900
10         Heidy Weiss  Software Development      Junior     450
20        Leonel Klein  Software Development         Mid     850
22     Adriel Sandoval  Software Development         Mid     450
23       Sullivan Best  Software Development     C-level    1100
24        Tiana Duarte  Software Development      Junior     400
25         Kelly Blair  Software Development  Mid-Senior     600
27    Nicolas Odonnell  Software Development  Mid-Senior     700
29         Javier Wood  Software Development     C-level     900
34        Kelton Tyler  Software Development     C-level    1100
51         Draven Reid  Software Development      Senior     950
55      Sanai Andersen  Software Development  Mid-Senior     760
58         Linda David  Software Development     C-level    1900
59     Cailyn Holloway  Software Development      Senior     815
66    Jefferson Cannon  Software Development     C-level    1200
78         Sylvia Kane  Software Development      Senior     915
79  Kristina Alexander  Software Development         Mid     600
88       Leon Odonnell  Software Development  Mid-Senior     800
90         Ruben Singh  Software Development  Mid-Senior     700
94    William Lawrence  Software Development  Mid-Senior     750
98         Willow Bush  Software Development      Junior     441

In [43]:
softwareSeniorMean = dataFrame[dataFrame["Department"] == "Software Development"].groupby("Title")["Salary"].mean()["Senior"] 
softwareJuniorMean =dataFrame[dataFrame["Department"] == "Software Development"].groupby("Title")["Salary"].mean()["Junior"]
print(softwareSeniorMean/softwareJuniorMean * 100 - 100)

107.97831138652208

In [ ]:
# cevap

In [ ]:
#7) Finance departmanında c-level bir kişinin mid-senior bir kişiye göre maaşı ortalama ne kadar fazladır?

In [57]:
dataFrame[dataFrame["Department"] == "Finance"].groupby("Title")["Salary"].mean()

Title
C-level       1030.00
Junior         469.00
Mid            691.25
Mid-Senior     790.00
Senior        1000.00
Name: Salary, dtype: float64

In [58]:
financeClevelMean = dataFrame[dataFrame["Department"] == "Finance"].groupby("Title")["Salary"].mean()["C-level"]
financeMidseniorMean = dataFrame[dataFrame["Department"] == "Finance"].groupby("Title")["Salary"].mean()["Mid-Senior"]
print(financeClevelMean / financeMidseniorMean *100 - 100)

30.379746835443058

In [ ]:
#8) Software development departmanında c-level çalışan sayısı marketing departmanında çalışana oranla kaç kat fazladır?

In [72]:
SoftwareClevelValue = dataFrame[dataFrame["Title"] == "C-level"].groupby("Department").count()["Employee Name"]["Software Development"]
MarketingClevelValue = dataFrame[dataFrame["Title"] == "C-level"].groupby("Department").count()["Employee Name"]["Marketing"]
SoftwareClevelValue/MarketingClevelValue

3.0